body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 300px;
  margin-right: 10px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-results {
  margin-top: 20px;
}

.search-results-item {
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.search-results-title {
  margin: 0;
  font-size: 18px;
}

.search-results-url {
  color: #333;
  margin-top: 5px;
}

.search-results-description {
  margin-top: 5px;
  color: #666;
}